.Header {
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.BrandedLogo {
  width: 250px;
  height: 45px;
  cursor: pointer;
}

.Controls {
  min-width: 200px;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .Header {
    height: 150px;
    padding: 0 20px;
    flex-flow: row wrap;
  }
}
