$background-color: #161415;
$text-color: #fafafa;
$text-color-soft: #7e7e7e;
$accent-color: #eb3756;

@mixin inputStyles {
  width: 300px;
  height: 35px;
  padding-left: 10px;
  background: linear-gradient(to bottom, $text-color -42%, $background-color 42%);
  border: 1px solid $text-color-soft;
  border-radius: 7px;
  color: $text-color;
  font-size: 14px;
  cursor: text;
}

.Input {
  @include inputStyles;
}

.InputGroup {
  position: relative;
  margin-top: 24px;
  input {
    @include inputStyles;
    &:placeholder-shown + label {
      opacity: 0;
      visibility: hidden;
    }
  }
  label {
    position: absolute;
    right: 10px;
    transform: translate(0, -1rem);
    font-size: 12px;
    color: $accent-color;
    cursor: not-allowed;
    transition: all 0.3s;
  }
}
