input {
  width: 300px;
  height: 35px;
  padding-left: 10px;
  background: linear-gradient(to bottom, $text-color -42%, $background-color 42%);
  border: 1px solid $text-color-soft;
  border-radius: 7px;
  color: $text-color;
  font-size: 14px;
  cursor: text;
  outline: none;

  &:placeholder-shown + label {
    opacity: 0;
    visibility: hidden;
  }
}
